<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>

    <div id="app">
        <div class="goods" v-for="(goods, goodsIndex) in goodsList" :key="goods.id">
            <div class="title">{{ goods.title }}：</div>
            <ul class="type-list">
                <li class="type" :class="{
                active: typeIndex === goods.index
              }" v-for="(type, typeIndex) in goods.typeList" :key="type"
                    @click="addFilterHandle(typeIndex, goods, type, goodsIndex)">{{ type }}</li>
            </ul>
        </div>
        <div class="choose-type">
            <div>已选条件:</div>
            <span class="no-goods" v-if="!showFilterGoods">
                暂时没有选择过滤条件
            </span>
            <ul class="filter-list" v-else>
                <li v-for="(goods, goodsKey) in filterObj">
                    {{ goods }}
                    <span class="delete-goods" @click="deleteFilterGoods(goodsKey)">x</span>
                </li>
            </ul>
        </div>
    </div>

    <script src="vue.js"></script>
    <script src="index.js"></script>
</body>

</html>